<!--@subject {{trans "%store_name - product back in stock notification" store_name=$store.frontend_name}} @-->
<!--@vars {
"var alertGrid|raw":"Alert Data Grid",
"var customerName":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-summary">
        <td>
            <p class="greeting">{{trans "Hello, %name" name=$customerName}}</p>
            <p>
                {{trans "The product you have subscribed for is back in stock:" }}
            </p>
            <p>
                {{var product_name|raw}}
            </p>
            <p>
                {{var product_sku|raw}}
            </p>
            <p>
                {{trans "Please click the following link to purchase the product:"}}
                <a href="{{var product_url|raw}}">{{var product_url|raw}}</a>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
