<!--@subject {{trans "%store_name - product back in stock subscription confirmation" store_name=$store.frontend_name}} @-->
<!--@vars {
"var alertGrid|raw":"Alert Data Grid",
"var customerName":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-summary">
        <td>
            <p class="greeting">{{trans "Hello, %name" name=$customerName}}</p>
            <p>{{trans "You have subscribed with your e-mail address" }}</p>
            <p>{{var email|raw}} {{trans "to back-in-stock notifications."}}</p>
            <p>
                {{trans "Please click following link to confirm your subscription:"}}
                {{var confirm_url|raw}}
            </p>
            <p>
                {{trans "Please click following link if you wish to decline the subscription:"}}
                {{var unsubscribe_url|raw}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
