<!--@subject {{trans "Products back in stock alert"}} @-->
<!--@vars {
"var alertGrid|raw":"Alert Data Grid",
"var customerName":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-summary">
        <td>
            <p class="greeting">{{trans "Hello, %name" name=$customerName}}</p>
            <p>
                {{var notification_message|raw}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
