<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <back_in_stock>
            <general>
                <enabled>0</enabled>
                <remove_subscription_after_send_notification>0</remove_subscription_after_send_notification>
                <is_historical_data_kept>1</is_historical_data_kept>
                <is_confirmation_required>1</is_confirmation_required>
                <success_with_confirmation_message>If you have not subscribed to this product yet, a request to confirm your subscription will be sent to your email. If you have subscribed to this product in the last %1 hours, check your email - the confirmation request should already be there.</success_with_confirmation_message>
                <success_without_confirmation_message>You are successfully subscribed for back in stock notification.</success_without_confirmation_message>
            </general>
            <email_configuration>
                <sender_email>general</sender_email>
                <confirmation_email_template>back_in_stock_email_configuration_confirmation_email_template</confirmation_email_template>
                <automatic_notification_email_template>back_in_stock_email_configuration_automatic_notification_email_template</automatic_notification_email_template>
                <manual_notification_email_template>back_in_stock_email_configuration_manual_notification_email_template</manual_notification_email_template>
            </email_configuration>
            <cron>
                <cron_schedule>* * * * *</cron_schedule>
            </cron>
        </back_in_stock>
    </default>
</config>
