<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageSuite_BackInStock::back_in_stock" title="Back In Stock Subscriptions" translate="title" module="MageSuite_BackInStock" sortOrder="100" parent="Magento_Catalog::inventory" action="backinstock/grid/index" resource="MageSuite_BackInStock::config_backinstock"/>
    </menu>
</config>
