<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="back_in_stock" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Back In Stock Subscriptions</label>
            <tab>magesuite</tab>
            <resource>MageSuite_BackInStock::config_backinstock</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables back to stock notification functionality.</comment>
                </field>
                <field id="remove_subscription_after_send_notification" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic remove subscription</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables automatic removing subscription after sending an email notification.</comment>
                </field>
            </group>
            <group id="email_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Configuration</label>
                <field id="sender_email" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="confirmation_email_template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Confirmation Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="automatic_notification_email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Notification Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="manual_notification_email_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manual Notification Email Template</label>
                    <source_model>\Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cron Settings</label>
                <field id="cron_schedule" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <comment>This setting determines how often emails with notifications will be sent. Please put cron schedule expression (Ex. * * * * *). By default emails are sent every minute.</comment>
                </field>
            </group>
        </section>
    </system>
</config>